
.about-text{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: forestgreen;   
    margin-inline: 20px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
}
.aboutBtn{
    width: 45px;
    padding-block: 5px;
    padding-inline: 10px;
    background-color: beige;
    color: black;
    font-size: 25px;
    cursor: pointer;
}
